#price-chart-container {
  width: 600px;
  height: 400px;
}

#real-time-price {
  display: none;
}

div.price-chart {
  width: 100%;
  height: 80%;
}

.stock-show-page {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
}

.stock-show-page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.price-chart-component {
  display: flex;
  flex-direction: column;
  height: 500px;
  // justify-content: stretch;
}

ul.range-options {
  display: flex;
  margin-top: auto;
}

ul.range-options > button {
  background: none;
  border: none;
  outline: none;
  width: 40px;
}

ul.range-options > button.selected {
  box-sizing: border-box;
  border-bottom: 2px solid #5bc43b;
}

div[class^="profile-row-"] {
  display: flex;
  justify-content: space-evenly;
}

.single-profile-module {
  display: flex;
  flex-direction: column;
  align-items: initial;
  width: 25%;
}

.single-profile-module > p {
  margin-top: 1px;
}

.company-profile strong, .company-profile p {
  font-size: 11pt;
}

.company-profile {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
}