.navbar {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-end;
   margin-right: 15px;
   margin-left: 15px;
}

.navbar-logo {
  margin-left: 0px;
  padding-left: 0px;
}

.navbar-nav {
  margin-left: 15px;
  padding-left: 0px;
}

.navbar-auth {
  margin-left: auto;
}

ul[class^="navbar-"] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  align-items: baseline;
}

ul[class^="navbar-"] > li {
  border-radius: 5px;
  border: 5px solid white;
  background-color: white;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 0px;
}

ul[class^="navbar-"] > li a {
  text-decoration: none;
  color: black;
}

.navbar-auth > li a {
  font-weight: bold;
}

.navbar-nav > li a {
  font-weight: normal;
}

ul.navbar-nav > li:hover {
  background-color: whitesmoke;
  border: 5px solid whitesmoke;
}

ul.navbar-auth > li:not(:last-child):hover {
  background-color: whitesmoke;
  border: 5px solid whitesmoke;
}

.navbar-logo-img {
  background-image: image-url('logo_standard.png');
  width: 20px;
  height: 20px;
}

.navbar-logo > li:last-child {
  font-weight: bold;
  font-size: 24px;
  padding-left: 10px;
}

.navbar-auth > li:last-child > button {
  border-radius: 5px;
  border: 5px solid #5bc43b;
  background-color: #5bc43b;
  outline: none;
  font-size: 16px;
}

.account-actions {
  background-color: white;
  border-radius: 5px;
  border: 5px solid white;
  margin-left: auto;
}

.account-actions > .account-dropdown {
  display: none;
}

.account-dropdown {
  position: absolute;
  list-style: none;
  min-width: 100px;
  height: 100px;
}

.account-dropdown > li {
  min-width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  align-content: left;
}

.account-actions:hover {
  background-color: whitesmoke;
  border-radius: 5px;
  border: 5px solid whitesmoke;
}

.account-actions:hover > .account-dropdown {
  position: absolute;
  top: 50px;
  right: 38px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: auto;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
}

.account-actions:hover > .account-dropdown button {
  margin-right: auto;
  border-radius: 5px;
  border: 5px solid #5bc43b;
  background-color: #5bc43b;
  outline: none;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}