.auth-page-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  position: relative;
}

.auth-form-container {
  margin-top: 150px;
}

.auth-wrapper {
  margin-top: auto;
  margin-left: auto;
  width: 400px;
  padding-right: 150px;
  padding-left: 100px;
  padding-bottom: 100%;
  background: whitesmoke;
  padding-top: 150px;
}

.auth-wrapper a {
  color: #5bc43b;
  text-decoration: none;
  cursor: pointer;
}

.auth-form-fields {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

ul.auth-errors {
  padding-left: 55px;
  padding-top: 0px;
  padding-bottom: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 11px;
  line-height: 20px;
}

.auth-form-fields-row {
  width: 600px;
  display: flex;
  justify-content: stretch;
}

.auth-form-fields-row > input:last-child {
  margin-left: 10px;
}

.auth-form-fields-row > input:first-child {
  margin-left: 50px;
}
.auth-form-fields input {
  background-color: whitesmoke;
  width: 100%;
  margin-left: 50px;
  margin-top: 10px;
  border: 2px solid silver;
  height: 36px;
  border-radius: 5px;
}

.auth-form-fields input:hover {
  background-color: white;
}

.auth-form-fields input:focus {
  outline: none;
  background-color: white;
  border: 2px solid #5bc43b;
}

.auth-form button {
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #5bc43b;
  background-color: #5bc43b;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  width: 120px;
  color: white;
}

button#demo-login {
  border: 2px solid #5bc43b;
  background-color: whitesmoke;
  margin-top: auto;
  margin-left: auto;
  margin-right: 50px;
  width: 80px;
  height: 36px;
  font-size: 12px;
  color: #5bc43b;
}

button#demo-login:hover {
  background-color: white;
  font-weight: bold;
}

.auth-form button:hover, .auth-form a:hover {
  cursor: pointer;
}

.auth-form-fields-row.row-four {
  margin-top: 15px;
  margin-left: 50px;
}

.auth-form-redirect > p, .auth-form-redirect > a {
  font-size: 11px;
  margin-bottom: 5px;
}

.auth-form a {
  color: #5bc43b;
  font-weight: bold;
  text-decoration: none;
}

.auth-form-header {
  display: flex;
  flex-direction: row;
  align-items: middle;
  padding-left: 5px;
  margin-left: 50px;
}

#auth-logo-link {
  width: 24px;
  height: 24px;
  background-color: #5bc43b;
  // background-image: image-url('app/asssets/images/logo_standard.png');
  display: inline-block;
  margin-block-start: 24px;
  margin-block-end: 24px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.auth-form-header > h3 {
  padding-left: 20px;
  font-size: 24px;
}