/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $sf-green: #5BC43B;
 $sf-green-accent: #51B034;
 
 $sf-red: #ED5D2A;
 $sf-red-accent: #D55425;
 
 $sf-ink: #060C13;
 $sf-ink-focus: #1F2124;
 $sf-ink-hover: #31363A;
 
 $sf-ivory: white;
 $sf-ivory-focus: white;
 $sf-ivory-hover: #F6F8FA;
 
 $sf-font-spacing: -0.1px;
 $sf-font-size-std: 13px;
 $sf-font-size-h1: 32px;
 $sf-font-size-h2: 24px;
 $sf-font-size-h3: 15px;
 $sf-font-weight-demi: medium;
 $sf-font-weight-bold: bold;
 $sf-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);

body { margin: 0; }
#root.light, #root.dark {

* {
  font-family: "DM Sans",sans-serif;
  font-size: $sf-font-size-std;
  letter-spacing: $sf-font-spacing;
}


body, #root, #application {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

header.application-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 64px;
  box-shadow: 0 2px 8px -5px rgba(0,0,0,.2);
  z-index: 5;
}


div.application-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

.application-content > section {
  width: 65%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
}

.application-content > aside {
  flex-grow: 1;
  padding-left: 5%;
  margin-right: 5%;
  width: 35%;
  min-width: 200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: stretch;
  clear: both;
  z-index: 1;
}

[class^="loading-"] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // position: relative;
}

[class^="loading-"] > .css-0 {
  display: flex;
  justify-content: center;
  align-items: center;
}
}

#root.dark header.application-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 64px;
  box-shadow: 0 2px 8px -5px rgba(255,255,255,.2);
  z-index: 5;
}

#root.dark * {
  color: $sf-ivory;
}

#root.dark {
  background-color: $sf-ink;
}