/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: "Capsule Sans Text","Segoe UI",Helvetica,Arial,sans-serif;
}

body, #root, #application {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 0px;
}

header.application-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}


div.application-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

.application-content > section {
  width: 65%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
}

.application-content > aside {
  flex-grow: 1;
  padding-left: 5%;
  width: 35%;
  min-width: 200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  clear: both;
  z-index: 1;
}