.auth-page-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.auth-form-container {
  width: 50%;
  flex-grow: 3;
  margin-top: 100px;
  margin-right: 40px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.auth-wrapper {
  padding-right: 5%;
  width: 50%;
  height: 100%;
  flex-grow: 2;
  margin-bottom: auto;
  padding-top: 150px;
  padding-left: 40px;
  padding-bottom: 100%;
  background: whitesmoke;
}

.auth-form-header {
  display: block;
  font-size: 24px;
}

.auth-wrapper a {
  color: #5bc43b;
  text-decoration: none;
  cursor: pointer;
}

.auth-form a {
  color: #5bc43b;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.auth-wrapper a:hover,
.auth-form a:hover {
  color: #51B034;
}

.auth-form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

ul.auth-errors {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 11px;
  line-height: 18px;
}

.auth-form-fields-row {
  width: 100%;
  display: flex;
}

.auth-form-fields input {
  background-color: whitesmoke;
  width: 100%;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  margin-top: 10px;
  border: 2px solid silver;
  height: 36px;
  border-radius: 5px;
}

.auth-form-fields input:hover {
  background-color: white;
}

.auth-form-fields input:focus {
  outline: none;
  background-color: white;
  border: 2px solid #5bc43b;
}

.auth-form button {
  border-radius: 5px;
  border: 2px solid #5bc43b;
  background-color: #5bc43b;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  width: 120px;
  color: white;
  cursor: pointer;
}

.auth-form button:hover {
  border: 2px solid #51B034;
  background-color: #51B034;
}

button#demo-login {
  border: 2px solid #5bc43b;
  background-color: whitesmoke;
  width: 80px;
  height: 36px;
  font-size: 12px;
  color: #5bc43b;
  align-self: flex-end;
  margin-left: auto;
}

button#demo-login:hover {
  background-color: white;
  font-weight: bold;
  border-color: #51B034;
  color: #51B034;
}

.auth-form-fields-row.row-four {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: flex-start;
}

.auth-form-redirect > p, .auth-form-redirect > a {
  font-size: 11px;
  padding-left: 5px;
  margin-bottom: 5px;
}