 $sf-green: #5BC43B;
 $sf-green-accent: #51B034;
 
 $sf-red: #ED5D2A;
 $sf-red-accent: #D55425;
 
 $sf-ink: #060C13;
 $sf-ink-focus: #1F2124;
 $sf-ink-hover: #31363A;
 
 $sf-ivory: white;
 $sf-ivory-focus: white;
 $sf-ivory-hover: #F6F8FA;
 
 $sf-font-spacing: -0.1px;
 $sf-font-size-std: 13px;
 $sf-font-size-h1: 32px;
 $sf-font-size-h2: 24px;
 $sf-font-size-h3: 15px;
 $sf-font-weight-demi: medium;
 $sf-font-weight-bold: bold;
 $sf-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);

#root.light, #root.dark, #root {

.auth-page-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.auth-form-container {
  width: 50%;
  flex-grow: 3;
  margin-top: 100px;
  margin-right: 40px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.auth-wrapper {
  padding-right: 5%;
  width: 50%;
  height: 100%;
  flex-grow: 2;
  margin-bottom: auto;
  padding-top: 150px;
  padding-left: 40px;
  padding-bottom: 100%;
  background-color: whitesmoke;
}

.auth-form-header {
  display: block;
}

.auth-form-header > h3 {
  font-size: $sf-font-size-h1;
}

.auth-wrapper a {
  color: #5bc43b;
  text-decoration: none;
  cursor: pointer;
}

.auth-form a {
  color: #5bc43b;
  font-weight: $sf-font-weight-bold;
  text-decoration: none;
  cursor: pointer;
}
.auth-wrapper a:hover,
.auth-form a:hover {
  color: $sf-green-accent;
}

.auth-form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

ul.auth-errors {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  color: $sf-red;
  font-size: $sf-font-size-std;
  line-height: 18px;
}

.auth-form-fields-row {
  width: 100%;
  display: flex;
}

.auth-form-fields input {
  background-color: $sf-ivory-hover;
  width: 100%;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  margin-top: 10px;
  border: 2px solid silver;
  height: 36px;
  border-radius: 5px;
}

.auth-form-fields input:hover {
  background-color: $sf-ivory;
}

.auth-form-fields input:focus {
  outline: none;
  background-color: $sf-ivory;
  border: 2px solid #5bc43b;
}

.auth-form button {
  border-radius: 5px;
  border: 2px solid $sf-green;
  background-color: $sf-green;
  outline: none;
  font-size: $sf-font-size-h3;
  font-weight: $sf-font-weight-bold;
  height: 48px;
  width: 120px;
  color: white;
  cursor: pointer;
}

.auth-form button:hover {
  border: 2px solid $sf-green-accent;
  background-color: $sf-green-accent;
}

button#demo-login {
  border: 2px solid $sf-green;
  background-color: $sf-ivory-hover;
  width: 90px;
  height: 36px;
  font-size: $sf-font-size-std;
  color: $sf-green;
  align-self: flex-end;
  margin-left: auto;
}

button#demo-login:hover {
  background-color: $sf-ivory;
  font-weight: $sf-font-weight-bold;
  border-color: $sf-green-accent;
  color: $sf-green-accent;
}

.auth-form-fields-row.row-four {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: flex-start;
}

.auth-form-redirect > p, .auth-form-redirect > a {
  font-size: 10px;
  padding-left: 5px;
  margin-bottom: 5px;
}
}