 $sf-green: #5BC43B;
 $sf-green-accent: #51B034;
 
 $sf-red: #ED5D2A;
 $sf-red-accent: #D55425;
 
 $sf-ink: #060C13;
 $sf-ink-focus: #1F2124;
 $sf-ink-hover: #31363A;
 
 $sf-ivory: white;
 $sf-ivory-focus: white;
 $sf-ivory-hover: #F6F8FA;
 
 $sf-font-spacing: -0.1px;
 $sf-font-size-std: 13px;
 $sf-font-size-h1: 32px;
 $sf-font-size-h2: 24px;
 $sf-font-size-h3: 15px;
 $sf-font-weight-demi: medium;
 $sf-font-weight-bold: bold;
 $sf-box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.2);

#root.dark {

.user-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 100%;
  min-height: 500px;
  margin-bottom: 200px;
}

.greeting {
  width: 100%;
  font-size: $sf-font-size-h2;
}

.buying-power {
  padding: 20px;
  padding-top: 10px;
  background-color: $sf-ink-focus;
  border: 2px solid $sf-ivory;
  box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
  border-radius: 5px;
}

.buying-power > h2 {
  font-size: $sf-font-size-h3;
}

.buying-power > span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.buying-power > span > p {
  margin-top: 0;
  margin-bottom: 0;
  color: $sf-green;
  font-weight: $sf-font-weight-bold;
  margin-left: 7.5px;
}

.buying-power > ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: baseline;
}

.buying-power > ul > li {
  width: 15%;
  margin-right: 2.5%;
}
.buying-power > ul > li:last-child {
  display: flex;
  width: 40%;
  margin-right: 0;
}
.buying-power > ul > li > button {
  width: 100%;
  padding: 0;
  color: $sf-ivory;
  background-color: $sf-green;
  border: 2px solid $sf-green;
  outline: none;
  border-radius: 20px;
}
.custom-amt {
  background-color: $sf-green;
  border-radius: 5px;
  border: 2px solid $sf-green;
  border-radius: 20px;
  outline: none;
  width: 240px;
  height: 24px;
  text-align: left;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.custom-amt > input, .custom-amt > button {
  width: 40%;
  height: 16px;
  padding: 0;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.custom-amt > button {
  outline: none;
  background-color: $sf-green;
  color: $sf-ivory;
}

.custom-amt > input:focus {
  outline: none;
  border: none;
}

.custom-amt > input {
  background-color: $sf-ink-focus;
}

.explore-stocks {
  margin-top: 50px;
  padding: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: $sf-ink-focus;
  border: 2px solid $sf-ivory;
  box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
  border-radius: 5px;
}

.explore-stocks > h2 {
  font-size: $sf-font-size-h3;
}

.explore-stocks > ul {
  display: flex;
  padding: 0;
  flex-direction: row;
  list-style: none;
  overflow: hidden;
  overflow-x: scroll;
  align-items: center;
}

.explore-stocks > ul > li {
  width: 30%;
  margin-right: 6px;
  margin-bottom: 30px;
}

.explore-stocks > ul > li > button {
  width: 120px;
  height: 36px;
  padding: 0;
  color: $sf-ivory;
  background-color: $sf-red;
  border: 2px solid $sf-red;
  outline: none;
  border-radius: 20px;
}

.explore-stocks > ul > li > button.selected {
  background-color: $sf-red-accent;
  border-color: $sf-red-accent;
  color: $sf-ivory;
  box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
}

.sector-view {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 5%;
}

.sector-view-stock-table {
  border-collapse: collapse;
}

.sector-view .header-row {
  text-align: left;
  height: 50px;
}
.body-row {
  height: 50px;
}

.body-row > td {
  border: none;
}

.body-row:hover {
  background-color: $sf-ink-hover;
  cursor: pointer;
}

.sort-button {
  background-color: $sf-ink-focus;
  outline: none;
  border: 2px solid $sf-ink-focus;
  text-decoration: none;
  color: $sf-red;
  border-radius: 10px;
  height: 32px;
  width: 80%;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}

.sort-button:hover {
  background-color: $sf-ink-hover;
}

.sort-button.sorted {
  font-weight: $sf-font-weight-bold;
  color: $sf-red-accent;
  background-color: $sf-ink-hover;
  border-color: $sf-ink-hover;
}


}