.header-logo-container > a,
div[class^="header-"] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

div[class^="header-"] a {
  text-decoration: none;
  color: black;
}

.header-content {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 5%;
  margin-right: 5%;
}

.header-links-container, 
.search-bar-contiainer {
  margin-left: 50px;
}

.header-auth-nav-container,
.header-account-nav-container {
  margin-left: auto;
}

.header-auth-nav-container *,
.header-account-nav-container > h3 {
  font-weight: bold;
  font-size: 16px;
}

.header-link {
  padding-left: 20px;
  padding-right: 40px;
  cursor: pointer;
}

.header-link:hover {
  color: #5bc43b;
}

.header-auth.button {
  background-color: #5bc43b;
  cursor: pointer;
  outline: none;
  border: 2px solid #5bc43b;
  padding: 10px 15px;
  border-radius: 20px;
}

.header-auth.button:hover {
  background-color: #51B034;
  border-color: #51B034;
}

.account-dropdown {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: absolute;
  background-color: whitesmoke;
  min-width: 120px;
  height: 140px;
  list-style: none;
  top: 80%;
  right: 10%;
}

.header-account-nav-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 80%;
}

.account-dropdown > li {
  height: 40%;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  cursor: default;
  align-self: center;
}

.account-dropdown > li:first-child {
  padding-top: 20%;
}

.account-dropdown button {
  background-color: #5bc43b;
  cursor: pointer;
  outline: none;
  border: 2px solid #5bc43b;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
}

.account-dropdown button:hover {
  background-color: #51B034;
  border-color: #51B034;
}

.account-dropdown-trigger {
  padding: 10px 15px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
}
.header-account-nav-container:hover > .account-dropdown-trigger {
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 20px;
  color: #5bc43b;
}

.header-account-nav-container:hover > .account-dropdown {
  display: block;
}

.search-bar-container {
  position: relative;
  display: inline-block;
  width: 300px;
  margin-left: 10%;
  height: 80%;
}

.search-bar-container > input {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 40%;
  background-color: whitesmoke;
  width: 100%;
  padding-inline-start: 5px;
  border: 2px solid silver;
  border-radius: 5px;
}

.search-bar-container > input:hover {
  background-color: white;
}

.search-bar-container > input:focus {
  outline: none;
  background-color: white;
  border: 2px solid #5bc43b;
}

.search-results {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px;
  max-height: 100px;
  max-width: 100%;
  margin-bottom: 0px;
  cursor: pointer;
  z-index: 1;
}

.search-results.results {
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}

.single-search-result {
  display: inline-block;
  width: 100%;
}

.single-search-result > a {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  width: 100%;
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

.single-search-result > a:hover {
  background-color: gainsboro;
}

.search-result-symbol {
  width: 25%;
  height: 100%;
  // padding-top: 5%;
  // padding-bottom: 5%;
}

.search-result-name {
  width: 75%;
  height: 100%;
  // padding-top: 5%;
  // padding-bottom: 5%;
  overflow: hidden;
}
