 $sf-green: #5BC43B;
 $sf-green-accent: #51B034;
 
 $sf-red: #ED5D2A;
 $sf-red-accent: #D55425;
 
 $sf-ink: #060C13;
 $sf-ink-focus: #1F2124;
 $sf-ink-hover: #31363A;
 
 $sf-ivory: white;
 $sf-ivory-focus: white;
 $sf-ivory-hover: #F6F8FA;
 
 $sf-font-spacing: -0.1px;
 $sf-font-size-std: 13px;
 $sf-font-size-h1: 32px;
 $sf-font-size-h2: 24px;
 $sf-font-size-h3: 15px;
 $sf-font-weight-demi: medium;
 $sf-font-weight-bold: bold;
 $sf-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);

#root.light, #root.light, #root {
  .home-page {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: #d4f06e;
    display: flex;
    flex-direction: row-reverse;
  }

  .home-page-text {
    position: absolute;
    width: 45%;
    height: 100%;
    left: 5%;
    top: 30%;
    z-index: 1;
  }

  .home-page-text > h1 {
    font-size: 52px;
    background-color: #d4f06e;
  }
  .home-page-text > p {
    font-size: 18px;
    background-color: #d4f06e;
  }

  .home-page-text > button:hover {
    background-color: $sf-ink-hover;
    border: 2px solid $sf-ink-hover;
  }

  .home-page-text > button {
    margin-top: 10px;
    background-color: $sf-ink;
    width: 144px;
    height: 48px;
    cursor: pointer;
    outline: none;
    border: 2px solid $sf-ink;
    border-radius: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $sf-ivory;
    text-decoration: none;
    font-size: 18px;
    font-weight: $sf-font-weight-bold;
    margin: 0;
    padding: 0;
  }
  .home-page-text > button:hover {
    background-color: $sf-ink-focus;
    color: $sf-ivory-focus;
  }

  .home-page-video {
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  .home-page-img {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    width: 712px;
    // height: 610.4px;
    height: 617.3px;
    top: 64px;
    right: -16px;
    bottom: 0;
  }

  .about-creator {
    position: absolute;
    top: 664px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    height: 250px;
    background: $sf-ink;
    z-index: 1;
    overflow: hidden;
    color: $sf-ivory;
  }
  .about-creator a {
    color: $sf-ivory;
    font-size: $sf-font-size-h3;
  }
  .about-creator a:hover {
    color: $sf-ivory-focus;
  }
  .links-list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .links-list strong {
    padding-left: 0.75%;
    font-size: $sf-font-size-h2;
  }
  .links-list li {
    font-size: $sf-font-size-h3;
  }
  .links-list li:not(:first-child) {
    margin-top: 1%;
    margin-left: 2.5%;
  }
}