 $sf-green: #5BC43B;
 $sf-green-accent: #51B034;
 
 $sf-red: #ED5D2A;
 $sf-red-accent: #D55425;
 
 $sf-ink: #060C13;
 $sf-ink-focus: #1F2124;
 $sf-ink-hover: #31363A;
 
 $sf-ivory: white;
 $sf-ivory-focus: white;
 $sf-ivory-hover: #F6F8FA;
 
 $sf-font-spacing: -0.1px;
 $sf-font-size-std: 13px;
 $sf-font-size-h1: 32px;
 $sf-font-size-h2: 24px;
 $sf-font-size-h3: 15px;
 $sf-font-weight-demi: medium;
 $sf-font-weight-bold: bold;
 $sf-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);

#root.light, #root.light {
  .home-page {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: #d4f06e;
    display: flex;
    flex-direction: row-reverse;
  }

  .home-page-text {
    position: absolute;
    width: 45%;
    height: 100%;
    left: 7.5%;
    top: 30%;
  }

  .home-page-text > h1 {
    font-size: 52px;
  }
  .home-page-text > p, .home-page-text > button {
    font-size: 18px;
  }

  .home-page-text > button {
    margin-top: 10px;
    background-color: $sf-ink;
    width: 144px;
    height: 54px;
    cursor: pointer;
    outline: none;
    border: 2px solid $sf-ink;
    border-radius: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .home-page-text > button > a {
    color: $sf-ivory;
    text-decoration: none;
    font-weight: $sf-font-weight-bold;
  }

  .home-page-video {
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  .home-page-img {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    width: 712px;
    // height: 610.4px;
    height: 617.3px;
    top: 80px;
    right: -16px;
    bottom: 0;
  }
}