.news-feed-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.news-story > a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.news-feed {
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
}

.news-feed * {
  padding-top: 0;
  padding-bottom: 0;
}

.news-feed > li:hover {
  background: whitesmoke;
}

.news-story-img {
  width: 20%;
  margin-left: auto;
  align-self: center;
}

.news-story-img > img {
  margin-left: auto;
  width: 100%;
}

.news-story-text {
  display: flex;
  flex-direction: column;
  align-items: initial;
  width: 80%;
}

.news-story > a {
  text-decoration: none;
  color: black;
}

.news-date {
  font-size: 9px;
  padding-left: 5px;
}

.news-source {
  font-size: 12px;
}

.news-top-line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 0px;
}

.news-story-text > * {
  margin-top: 5px;
  margin-bottom: 15px;
}

.news-story.hidden {
  display: none;
}

button.news-feed-control {
  width: 80%;
  align-self: center; 
  color: #5bc43b; 
  height: 36px;
  border: 2px solid #5bc43b;
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

button.news-feed-control:hover {
  background-color: white;
  font-weight: bold;
  border-color: #51B034;
  color: #51B034;
}

button.news-feed-control:focus {
  outline: none;
}

.news-feed-header {
  width: 100%;
  border-bottom: 2px solid gainsboro;
}

