 $sf-green: #5BC43B;
 $sf-green-accent: #51B034;
 
 $sf-red: #ED5D2A;
 $sf-red-accent: #D55425;
 
 $sf-ink: #060C13;
 $sf-ink-focus: #1F2124;
 $sf-ink-hover: #31363A;
 
 $sf-ivory: white;
 $sf-ivory-focus: white;
 $sf-ivory-hover: #F6F8FA;
 
 $sf-font-spacing: -0.1px;
 $sf-font-size-std: 13px;
 $sf-font-size-h1: 32px;
 $sf-font-size-h2: 24px;
 $sf-font-size-h3: 15px;
 $sf-font-weight-demi: 500;
 $sf-font-weight-bold: 700;
 $sf-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
#root.light {

.stock-show-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.price-chart-component {
  width: 100%;
  min-width: 500px;
  min-height: 450px;
  align-self: flex-start;
  position: relative;
  display: inline-block;
}

#price-chart-container {
  width: 100%;
  min-height: 400px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.price-chart {
  width: 100%;
  height: 75%;
  margin-left: -5%;
  position: absolute;
  top: 20%;
  bottom: 5%;
  left: 2%;
  right: 2%;
}

.price-chart-header {
  margin-top: 0px;
  width: 100%;
  // margin-bottom: auto;
}

.price-chart-header > h3 {
  font-size: $sf-font-size-h1;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  clear: both;
  z-index: 1;
}

.price-chart-header > h3:last-child {
  // margin-bottom: -10%;
  font-size: $sf-font-size-h2;
  margin-top: 0;
}

ul.range-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  border-bottom: 2px solid gainsboro;
}

ul.range-options > li {
  width: 50px;
  height: 20px;
  cursor: pointer;
  text-align: center;
}

ul.range-options > li:first-child {
  margin-left: -30px;
}

ul.range-options > li > button {
  background: none;
  padding-bottom: 5px;
  border: none;
  outline: none;
  width: 60%;
  height: 120%;
  cursor: pointer;
  z-index: 2;
}

ul.range-options > li:hover {
  background: whitesmoke;
}

ul.range-options > li > button.selected {
  box-sizing: border-box;
  border-bottom: 8px solid #5bc43b;
}

.company-description {
  margin-bottom: 5%;
}

div[class^="profile-row-"] {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 5%;
}

.company-profile {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
}

.profile-header > h3, .news-feed-header > h3 {
  font-size: $sf-font-size-h2;
}

.profile-header {
  width: 100%;
  border-bottom: 2px solid gainsboro;
}

.company-profile {
  border-bottom: 2px solid gainsboro;
  padding-top: 15px;
  padding-bottom: 15px;
}

.single-profile-module {
  display: flex;
  flex-direction: column;
  align-items: initial;
  padding-left: 1%;
  padding-right: 1%;
  width: 25%;
}

.single-profile-module > p {
  margin-top: 1px;
}

.company-profile strong, .company-profile p {
  font-size: $sf-font-size-std;
}

}